<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infotech.riset.vodea">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_putih"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_putih"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".About.AboutActivity"
            android:theme="@style/AppThemeAbout">

        </activity>
        <activity android:name=".VoteOption" />
        <activity android:name=".VoteOption.VoteOption"></activity>
        <activity android:name=".DetailVote" />
        <activity android:name=".LoginRegister.RegisterActivity" />
        <activity android:name=".LoginRegister.LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.PopUp.PopUp" />
        <activity
            android:name=".Home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>